body{
    background-color: rgb(209, 98, 209);
    background-size: 88%;  
}

#welcome1{
    background-color: plum;
    font-size: 300%;
    text-align: center;  
    border-radius: 10px;  
    padding: 25px;   
}

#CifradoCesar{
    font-family: 'Slabo 27px', serif;
    font-size: 130%;
    text-align: center;
    background-color: plum;
    border: 1px solid plum;
    border-radius: 10px;
    position: relative;
    bottom: 50px;
    width: 100%;
    height: 110px;        
}

#caja{
    font-size: 100%;
    font-family: 'Slabo 27px', serif;
    position: relative;
    left: 580px;
    border-radius: 10px;
}

#message1{
    font-size: 250%;
    text-align: center;
    position: relative;
    bottom: 30px;
}

#caja2{
    font-size: 100%;
    font-family: 'Slabo 27px', serif;
    width: 30%;
    height: 80px;
    position: relative;
    bottom: 70px;
    left: 475px;
    border-radius: 10px;
}

.buttons{
    font-family: 'Slabo 27px', serif;
    border-radius: 10px;
    font-size: 120%;
    margin-right: 10px;
    position: relative;
    bottom: 50px;
    left: 580px;
}

#RespuestaCodificada{
    position: relative;
    left: 300px;
    text-align: center;
    font-size: 200%;
    width: 60%;
    word-wrap: break-word;
    bottom: 80px;
}

#RespuestaDecodificada{
    position: relative;
    left: 300px;
    text-align: center;
    font-size: 200%; 
    width: 60%;
    word-wrap: break-word;
    bottom: 90px;
}

.fa-facebook{
    font-size: 50px;
    color: blue;
    background-color: white;
}

.fa-whatsapp{
    font-size: 50px;
    color: green;
    margin-left: 10px;
    background-color: white;
}
