body{
    background-color: plum;
    background-size: 88%;  
}

#welcome1{
    background-color: purple;
    font-size: 300%;
    text-align: center;
    margin: -10px;
    padding: 20px;
    
}

#caja{
    font-size: 100%;
    font-family: 'Roboto Slab', serif;
    position: relative;
    top: 80px;
    left: 580px;
    border-radius: 10px;
}

#message1{
    font-size: 250%;
    text-align: center;
    position: relative;
    top: 60px;
}

#caja2{
    font-size: 100%;
    font-family: 'Roboto Slab', serif;
    width: 30%;
    height: 80px;
    position: relative;
    top: 30px;
    left: 475px;
    border-radius: 10px;
}

.buttons{
    font-family: 'Roboto Slab', serif;
    border-radius: 10px;
    font-size: 120%;
    margin-right: 10px;
    color: rebeccapurple;
    position: relative;
    top: 30px;
    left: 570px;
}

#RespuestaCodificada{
    position: relative;
    left: 300px;
    text-align: center;
    font-size: 200%;
    width: 60%;
    word-wrap: break-word;
}

#RespuestaDecodificada{
    position: relative;
    left: 300px;
    text-align: center;
    font-size: 200%; 
    width: 60%;
    word-wrap: break-word;
}