body{
    background-color:#c2185b;
    width: 100%;
}

#welcome1{
    background-color:#c94f7c;
    width: 95%;
    font-size: 300%;
    text-align: center;  
    border-radius: 10px;  
    padding: 25px;    
}

#CifradoCesar{
    font-family: 'Slabo 27px', serif;
    font-size: 130%;
    text-align: center;
    background-color: #c94f7c;
    border: 1px solid #c94f7c;
    border-radius: 10px;
    position: relative;
    bottom: 60px;
    width: 25%;
    height: 230px;        
}

#Formulario{
    background-color: #c94f7c;
    border: 1px solid #c94f7c;
    border-radius:10px;
    width: 40%;
    position: relative;
    left: 400px;
    bottom: 300px;   
}

#caja{
    font-size: 100%;
    font-family: 'Slabo 27px', serif;
    position: relative;
    left: 180px;
    border-radius: 10px;
    top: 25px;
}

#message1{
    font-size: 250%;
    text-align: center;
    position: relative;
}

#caja2{
    font-size: 100%;
    font-family: 'Slabo 27px', serif;
    min-width: 400px;
    max-width: 400px;
    min-height: 100px;
    max-height: 100px;
    position: relative;
    bottom: 20px;
    left: 70px;
    border-radius: 10px;
}

.buttons{
    font-family: 'Slabo 27px', serif;
    border-radius: 10px;
    font-size: 120%;
    margin-right: 10px;
    position:relative;
    bottom: 10px;
    left: 170px;
}

#RespuestaCodificada{
    position:relative;
    left: 300px;
    text-align: center;
    font-size: 200%;
    width: 60%;
    word-wrap: break-word;
    bottom: 330px;
}

#RespuestaDecodificada{
    position: relative;
    left: 300px;
    text-align: center;
    font-size: 200%; 
    width: 60%;
    word-wrap: break-word;
    bottom: 350px;    
}


.fa-facebook{
    font-size: 50px;
    color: blue;    
}

.fa-whatsapp{
    font-size: 50px;
    color: green;
    margin-left: 10px;
}

#icono{
    color: black;
    font-size: 4rem;
    position: relative;
    bottom: 120px;
    left: 50px;
}

#icono1{
    color: black;
    font-size: 4rem;
    position: absolute;
    bottom: 530px;
    left: 1200px;
}

