body{
    background-color: plum;
    background-size: 88%;  
}

#welcome1{
    background-color: purple;
    font-size: 300%;
    text-align: center;
    margin: -10px;
    padding: 20px;
    
}

#caja{
    font-family: 'Roboto Slab', serif;
    position: relative;
    top: 80px;
    left: 590px ;
}

#message1{
    font-size: 250%;
    text-align: center;
    position: relative;
    top: 60px;
}

#caja2{
    font-family: 'Roboto Slab', serif;
    width: 30%;
    height: 30px;
    position: relative;
    top: 30px;
    left: 480px;
}

.buttons{
    font-family: 'Roboto Slab', serif;
    border-radius: 15px;
    font-size: 18px;
    margin-right: 10px;
    color: rebeccapurple;
    position: relative;
    top: 30px;
    left: 580px;
}

#RespuestaCodificada{
    text-align: center;
    font-size: 350%;
}

#RespuestaDecodificada{
    text-align: center;
    font-size: 350%; 
}