body{
    background-image: url(https://static8.depositphotos.com/1472772/978/i/950/depositphotos_9787573-stock-photo-top-secret-folder-icon-over.jpg);
    background-size: 88%;  
}

#all{
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

#welcome1{
    font-size: 300%;
}

#message1{
    font-size: 250%;
}

#caja{
    font-family: 'Roboto Slab', serif;
}

#caja2{
    font-family: 'Roboto Slab', serif;
    width: 30%;
    height: 30px;
}

.buttons{
    font-family: 'Roboto Slab', serif;
    border-radius: 15px;
    font-size: 18px;
    margin-right: 10px;
}

#RespuestaCodificada{
    text-align: center;
    font-size: 350%;
}